html,
body {
    height: 100%;
    background: #f2f2f2;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Navigation */
nav {
    display: block;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #080808;
}

nav li {
    padding: 0.5rem 0;
    display: inline;
}

nav li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0.65rem;
}

nav li a:hover {
    background-color: #111;
}

nav li a.active {
    background-color: #4CAF50;
}

/* Header */
heading {
    clear: both;
}

/* Controls
---------------------------------------------------------------------- */

.controls {
    padding: 1rem;
    background: #333;
    color: white;
}

fieldset {
    display: inline-block;
    border: 1.5px solid #888;
    color: #eee;
}

/* "The checkbox hack" https://css-tricks.com/the-checkbox-hack/ */
input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    margin-bottom: 0.25em;
    padding: 0.25em 0.5em;
    background-color: #f28268;
    transition: background-color 300ms;
    color: black;
    border-radius: 4px;
}

input[type=checkbox]:checked + label {
    background-color: #87eba8;
}

input[type=checkbox]:indeterminate + label {
    background-color: #eeeeee;
}

.range-slider {
    margin: 0 0.05rem 0 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.range-slider:last-child {
    margin-right: 0;
}

.range-slider-label {
    display: block;
    font-size: .8rem;
    color: #ccc;
    margin-bottom: .05rem;
    font-weight: 700;
}

.range-slider:last-child .range-slider-label {
    text-align: right;
}

.range-slider-input {
    position: relative;
    width: 120px;
    background: transparent;
    margin: 0;
    z-index: 1;
}

/* Container
---------------------------------------------------------------------- */

.content {
    padding: 1rem;
    text-align: justify;
}

.container {
    padding: 1rem;
    text-align: justify;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: block;
    margin: 2px;
}

.mix {
    background: #dadada;
    xx-border-top: .5rem solid currentColor;
    border-radius: 4px;
    font-family: sans-serif;
    width: 20em;
    height: 15em;
    overflow: hidden;
}
.mix h3 {
    font-size: 1.2em;
    text-align: center;
    background: #bababa;
    border-radius: 4px 4px 0 0;
    margin: 0;
    padding: 0.5rem;
}
.mix a {
    display: flex;
    height: 80%;
    background-image: linear-gradient(to bottom right, #b1b1b1, white);
}
.mix img {
    margin: auto;
    width: 100%;
    max-height: 100%;
}

/*.mix:before {
    content: '';
    display: inline-block;
    padding-top: 56.25%;
}*/

/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

/*.mix,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}*/

/* 3 Columns */

/*@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}*/

/* 4 Columns */

/*@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}*/

/* 5 Columns */

/*@media screen and (min-width: 1281px) {
    .mix,
    .gap {
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }
}*/
